# Compiled Object files and Shared Libraries
*.o
*.so
*.a
*.out

# Generated test snippets / test binaries
tests/snippets/
tests/local/test_local
tests/local/*.dSYM/
*.log
*.diff

# Temporary & Editor files
.vscode/
.DS_Store
*.swp
*~